<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>posts</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1 class="head">Quera posts</h1>
   <%   for (const post of posts) {%>
        <div class="post">
            <h3 class="id"><%= post.id  %></h3>
            <h2 class="user"> <%= post.username  %></h2>
            <h2 class="user"> <%= post.content  %></h2>
            <a href="http://localhost:8080/posts/<%=post.id%>">see in details</a>
            <a href="http://localhost:8080/posts/<%=post.id%>/edit">edit</a>

        </div>
    <%  } %> 
    
    <a href="http://localhost:8080/posts/new"> new post</a>
</body>
</html>